
body {
    /* border: 10px solid rgb(43, 255, 0); */ /*DEBUG*/

    /* remove annoying merging */
    margin: 0;
    padding: 0;
    text-align: center;
    /*text-shadow: 1px 1px 3px rgb(0, 0, 0);*/
    text-shadow: 1px 1px 3px rgb(0, 0, 0), -1px -1px 3px rgb(0, 0, 0);
    color:white;
    font-family: Bradley Hand, cursive;
    /* font-weight: 900; */

}
/***********************************************************************/
p {
    position: relative; /* if remove, inherit opacity from #top::before */
}
/***********************************************************************/
#top {
    /* border: 10px solid red; */ /* DEBUG */
    min-height: 100vh;
    background-color: rgb(255, 115, 80);
}
/***********************************************************************/
#Header {
    position: relative; /* if remove, inherit opacity from #top::before */
    font-size: 42px;
    padding: 10px
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#Header h1 {
    margin:0px;
}

#Header img{
    margin-right: 10px;
    border: 3px solid rgb(255, 208, 0, .5);
    border-radius: 50%;
    width: 60px;
}
/***********************************************************************/
/* avoid the opacity to be transfered to child */
#top::before {
    position: absolute;
    content: ' ';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url("Blood-Rage-Board-Game-Cover.jpg");
    background-size: cover; 
}
/***********************************************************************/
#imgContainer {
    /* border: 10px solid rgb(255, 0, 212); */
    position: relative; /* if remove, inherit opacity from #top::before */
    /* flex in colum, center and wrap if neede */
    display: flex; /* need to enable flex-direction, align-items, justify-content */
    justify-content: center; 
    flex-wrap: wrap;
}
/***********************************************************************/
.imgDiv {
    position: relative; /* if remove, inherit opacity from #top::before */

    /* bg image cfg */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    background-color: rgb(128, 0, 0);

    /* bg, border, shadow */
    width: 150px;
    height: 230px;
    margin: 15px;
    
    /* border */
    border: 7px solid rgb(0, 0, 0);
    border-radius: 5% 5%;
    box-shadow: 8px 8px rgba(0, 0, 0, .33);

    /* text effect */
    text-transform: uppercase;
    font-weight: bold;
    color: red;
    user-select:none;

    /* Flex, center */
    display: flex;
    justify-content: center;
    align-items: center;
}
/***********************************************************************/


